html, body {
    background: rgb(58, 58, 58);
}

.App {
	position: relative;
	text-align: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.App .CircularProgress {
    position: absolute;
}
.App .CircularProgress:nth-of-type(2) {
    z-index: 5;
}
